body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans","Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow:
    5px 0 10px #dbdbdb,
    -5px 0 10px #dbdbdb;
}

/*Стили для навигации*/

.main-navigation {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 6%;
  padding-right: 6%;
  justify-content: space-between;
  list-style: none;
}

.menu-element {
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation .info {
  text-align: left;
}

.site-navigation .media {
  margin-right: 11%;
  text-align: left;
}

.site-navigation .state-map {
  text-align: right;
}

.site-navigation .hotels {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active-page {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/*Стили для index.html*/

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-bottom: 59px;
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.intro:after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url("../img/intro-shape.png");
  background-repeat: no-repeat;
}

.slogan {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.introduction {
  margin: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason-important {
  display: flex;
  justify-content: flex-start;
}

.reason-bridge {
  order: 3;
}

.reason-important .block {
  box-sizing: border-box;
  width: 33.333333%;
  text-align: center;
  background-color: #81b3d2;
}

.reason-image {
  width: 66.666666%;
  position: relative;
  overflow: hidden;
  font-size: 0px;
}

.reason-image img {
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.reason-image-revert {
  flex-direction: row-reverse;
}

.reason-important-header {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #eeeeee;
}

.reason-important-number {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.reason-important-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.reason-town .reason-important-text {
  padding-left: 61px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.reason-bridge .reason-important-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.features {
  order: 2;
}

.features-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.feature-item {
  box-sizing: border-box;
  padding-bottom: 81px;
  width: calc(100% / 3);
  text-align: center;
}

.feature-item-header {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  padding-top: 161px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.feature-item-text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.feature-habitat {
  padding-left: 70px;
  padding-right: 70px;
}

.feature-food {
  padding-left: 50px;
  padding-right: 50px;
}

.feature-souvenirs {
  padding-left: 50px;
  padding-right: 50px;
}

.feature-item:nth-child(1) {
  background-image: url("../img/icon-feature-habitat.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.feature-item:nth-child(2) {
  background-image: url("../img/icon-feature-food.svg");
  background-repeat: no-repeat;
  background-position: 161px 61px;
}

.feature-item:nth-child(3) {
  background-image: url("../img/icon-feature-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.reasons-other {
  order: 4;
  background-color: #eeeeee;
}

.reasons-other-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.other-list-element {
  width: calc(100% / 3);
  text-align: center;
}

.reason-other-header {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 24px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.reason-other-text {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.reason-other-number {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search {
  position: relative;
}

.search-wrapper {
  padding-top: 49px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

.search-header {
  margin: 0;
  padding-bottom: 23px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.search-instruction {
  margin: 0;
  padding-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.modal-button {
  width: 568px;
  margin: 0;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 29px;
  align-self: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#766357;
  border: none;
  cursor: pointer;
}

.search .button-find:hover,
.search .button-find:focus {
  background-color: #604e43;
}

.search .button-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  box-sizing: border-box;
  width: 568px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 6px rgba(0, 1, 1, 0.10);
}

.date-in {
  margin-bottom: 30px;
}

.date-out {
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-calendar {
  position: absolute;
  right: 9px;
  padding: 0;
  background: none;
  border: none;
  opacity: 0.3;
}

.button-calendar:hover,
.button-calendar:focus {
  opacity: 1;
  outline: none;
}

.button-calendar:active {
  fill: #81b3d2;
  outline: none;
}

.search-form label,
.date-input,
.quantity-input {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.date-input,
.quantity-input {
  box-sizing: border-box;
  height: 38px;
  background-color: #f2f2f2;
  border:  #f2f2f2 solid 2px;
}

.date-input {
  width: 346px;
  padding-left: 12px;
  padding-right: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.quantity {
  margin-bottom: 53px;
}

.quantity-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults {
  width: 226px;
}

.kids {
  width: 179px;
}

.quantity-input-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.quantity-input {
  width: 114px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  background: none;
  border: none;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  padding: 0;
  background: none;
  border: none;
}

.minus:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.plus:before {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.search-button {
  width: 458px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

/*Стили поведения формы index.html*/

.date-input:hover,
.quantity-input:hover {
  background-color: #ebebeb;
  border-color:  #ebebeb;
}

.date-input:focus,
.quantity-input:focus {
  background-color: #ffffff;
  border-color:  #e5e5e5;
  outline: none;
}

.minus:hover:after,
.plus:hover:before,
.plus:hover:after,
.minus:focus:after,
.plus:focus:before,
.plus:focus:after {
  background-color: #000000;
  outline: none;
}
.minus:active:after,
.plus:active:before,
.plus:active:after {
  background-color: #81b3d2;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*Стили раздела карты в index.html*/

.map {
  width: 100%;
  height: 100%;
}

.map img {
  display: block;
}

/*Стили для футера*/

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

.footer-absolute {
  position: absolute;
  width: inherit;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
}

.main-footer .container {
  box-sizing: border-box;
  width: 33.333333%;
}

.hashtag {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  text-align: center;
}

.hashtag-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 1px;
  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.social-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.twitter:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-twitter.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 18px 17px;
}

.facebook:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-fb.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.youtube:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-youtube.svg");
  background-repeat: no-repeat;
  background-position: 13px 15px;
  background-size: 20px 17px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active:before {
  opacity: 0.3;
}

.footer-social li:nth-last-child {
  margin-right: 0;
}

.footer-social li:nth-child(1) {
  padding-left: 6px;
}

.footer-copyright {
  display: flex;
  padding-left: 3px;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  padding-right: 9px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.copyright-link {
  width: 115px;
  height: 40px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: #bdbbbc;
}

/*Стили для hotels.html*/

.hotels-search {
  position: relative;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 27px;
  padding-bottom: 6px;
  overflow: hidden;
  background-image: url("../img/bg-filter-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -294px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filter-block {
  margin: 0;
  padding: 0;
  border: none;
}

.infrastructure {
  margin-right: 118px;
}

.infrastructure legend {
  padding: 0;
  margin-bottom: 25px;
}

.infrastructure-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 39px;
  list-style: none;
}

.habitat legend {
  padding: 0;
  margin-bottom: 25px;

}

.habitat-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 42px;
  list-style: none;
}

.search-list-item {
  margin-bottom: 25px;
}

.filter-form label {
  position: relative;
  color: #ffffff;
}

.filter-form label:hover {
  cursor: pointer;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox:disabled + label:before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
}

.price {
  width: 318px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  border: none;
}

.price legend {
  margin: 0;
  margin-left: 3px;
  margin-bottom: 10px;
  padding: 0;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .from {
  width: 90px;
  margin-bottom: 0px;
  padding-left: 65px;
  padding-bottom: 0px;
  padding-top: 5px;

}

.price-controls .to {
  width: 90px;
  margin-bottom: 0px;
  padding-left: 57px;
  padding-bottom: 0px;
  padding-top: 5px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
  background: transparent;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-from {
  left: 0;
}

.range-toggle-to {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.button-show {
  display: block;
  margin: 0 85px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.button-show:hover,
.button-show:focus {
  color: #000000;
  background-color: #eeeeee;
}

.sort-wrapper {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.founded-hotels-wrapper {
  margin-right: 48px;
}

.founded-hotels {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotels-sort {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.sort-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  flex-grow: 1;
  list-style: none;
 }

.sort-header,
.sort-item {
  align-self: flex-end;
  margin: 0;
  font-size: 12px;
  vertical-align: bottom;
  line-height: 18px;
  color: #000000;
}

.sort-header {
  margin-right: 39px;
}

.sort-item {
  padding-right: 33px;
}

.sort-method {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-method:hover,
.sort-method:focus {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort-method:active {
  color:  #000000;
  text-decoration: none;
}

.hotels-sort .price {
  color:  #81b3d2;
  text-decoration: none;
}

.hotels-sort-buttons {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-sort-buttons li {
  display: inline-block;
  vertical-align: top;
}

.hotels-sort-buttons li:nth-child(1) {
  margin-right: 13px;
  vertical-align: bottom;
}

.sort-button svg {
  fill: #cacaca;
}

.sort-button:hover svg,
.sort-button:focus svg {
  fill: #000000;
}

.sort-button:active svg {
  fill:  #81b3d2;
}

.active-sort-button svg {
  fill:  #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list-item {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-wrapper {
  flex-grow: 1;
}

.hotel {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  vertical-align: middle;
}

.hotel-list-buttons {
  font-size: 14px;
  font-weight: bold;
}

.hotel-button {
  display: inline-block;
  vertical-align: middle;
}

.about {
  background-color: #81b3d2;
  color: #ffffff;
}

.about:hover,
.about:focus {
  background-color: #669ec0;
}

.about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking {
  background-color: #766357;
  color: #ffffff;
}

.booking:hover,
.booking:focus {
  background-color: #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-stars {
  display: flex;
}

.hotel-rating-numbers {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

















