body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans","Arial", "sans-serif";
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow:
    5px 0 10px #dbdbdb,
    -5px 0 10px #dbdbdb;
}

/*Стили для навигации*/

.main-navigation {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 6%;
  padding-right: 6%;
  justify-content: space-between;
  list-style: none;
}

.menu-element {
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation .info {
  text-align: left;
}

.site-navigation .media {
  margin-right: 11%;
  text-align: left;
}

.site-navigation .state-map {
  text-align: right;
}

.site-navigation .hotels {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active-page {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/*Стили для index.html*/

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-bottom: 60px;
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.intro:after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url("../img/intro-shape.png");
  background-repeat: no-repeat;
}

.slogan {
  margin: 0;
  margin-bottom: 27px;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.introduction {
  margin: 0;
  margin-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.reasons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason-important {
  display: flex;
  justify-content: flex-start;
}

.reason-bridge {
  order: 3;
}

.reason-important .block {
  box-sizing: border-box;
  width: 33.333333%;
  text-align: center;
  background-color: #81b3d2;
}

.reason-image {
  width: 66.666666%;
  position: relative;
  overflow: hidden;
  font-size: 0px;
}

.reason-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.reason-image-revert {
  flex-direction: row-reverse;
}

.reason-important-header {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #eeeeee;
}

.reason-important-number {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.reason-important-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.reason-town .reason-important-text {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 59px;
}

.reason-bridge .reason-important-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.features {
  order: 2;
}

.features-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.feature-item {
  box-sizing: border-box;
  width: calc(100% / 3);
  text-align: center;
}

.feature-item-header {
  margin: 0;
  padding: 0;
  padding-top: 161px;
}

.feature-item-text {
  margin: 0;
  padding: 0;
}

.feature-item:nth-child(1) {
  background-image: url("../img/icon-feature-habitat.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.feature-item:nth-child(2) {
  background-image: url("../img/icon-feature-food.svg");
  background-repeat: no-repeat;
  background-position: 161px 61px;
}

.feature-item:nth-child(3) {
  background-image: url("../img/icon-feature-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.reasons-other {
  order: 4;
  background-color: #eeeeee;
}

.reasons-other-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.other-list-element {
  width: calc(100% / 3);
  text-align: center;
}

.reason-other-header,
.feature-item-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}

.reason-other-text,
.feature-item-text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search {
  position: relative;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

.search-header {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.search-instruction {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.search .button-find {
  width: 568px;
  align-self: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color:#766357;
  border: none;
}

.search .button-find:hover,
.search .button-find:focus {
  background-color: #604e43;
}

.search .button-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  width: 568px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eeeeee;
}

.search-form label,
.search-form input {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.search-form input {
  background-color: #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: #e5e5e5 solid 2px;
}

.search-form input[type="submit"] {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
  background-color: #669ec0;
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  overflow: hidden;
  font-size: 0;
}

.map img {
  display: block;
}

/*Стили для футера*/

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  list-style: none;
}

.main-footer .container {
  box-sizing: border-box;
  width: 33.333333%;
}

.hashtag {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  text-align: center;
}

.hashtag-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-right: 1px;
  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.social-button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 46px;
  height: 47px;
  background-color: #81b3d2;
}

.twitter:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-twitter.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 18px 17px;
}

.facebook:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-fb.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.youtube:before {
  content: "";
  width: 46px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-social-youtube.svg");
  background-repeat: no-repeat;
  background-position: 13px 15px;
  background-size: 20px 17px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active:before {
  opacity: 0.3;
}

.footer-social li:nth-last-child {
  margin-right: 0;
}

.footer-social li:nth-child(1) {
  padding-left: 6px;
}

.footer-copyright {
  display: flex;
  padding-left: 3px;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  padding-right: 9px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.copyright-link {
  width: 115px;
  height: 40px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: #bdbbbc;
}

/*Стили для hotels.html*/

.hotels-search {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 27px;
  padding-bottom: 7px;
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0px -200px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.checkbox {
  display: none;
}

.filter-block {
  margin: 0;
  padding: 0;
  border: none;
}
.infrastructure legend {
  padding: 0;
  margin-bottom: 25px;
}

.infrastructure-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 39px;
  list-style: none;
}

.habitat legend {
  padding: 0;
  margin-bottom: 25px;

}

.habitat-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 42px;
  list-style: none;
}

.search-list-item {
  margin-bottom: 25px;
}

.filter-form label {
  color: #ffffff;
}

.price {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  border: none;
}

.price input {
  font-size: 14px;
  line-height: 21px;
  color: #eeeeee;
  background: transparent;
}

.price .button-show {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  color: #eeeeee;
  background: transparent;
}

.price .button-show:hover,
.price .button-show:focus {
  color: #000000;
  background-color: #eeeeee;
}

.sort-wrapper {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.quantity-wrapper {
  width: 13%;
  padding-top: 10px;
  padding-right: 27px;
}

.quantity {
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  color: #000000;
}

.hotels-sort {
  display: flex;
  padding-top: 36px;
  flex-grow: 1;
}

.sort-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  flex-grow: 1;
  list-style: none;
 }

.hotels-sort .sort-header,
.hotels-sort .sort-item {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-method {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-method:hover,
.sort-method:focus {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sort-method:active {
  color:  #000000;
  text-decoration: none;
}


.hotels-sort .price {
  color:  #81b3d2;
  text-decoration: none;
}

.hotels-sort-buttons {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.hotels-sort-buttons .sort-button {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-sort-buttons .sort-button:hover,
.hotels-sort-buttons .sort-button:focus {
  color: #000000;
}

.hotels-sort-buttons .sort-button:active {
  color:  #81b3d2;
}

.hotels-sort-buttons .highest {
  color:  #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list-item {
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-wrapper {
  flex-grow: 1;
}

.hotel {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  vertical-align: middle;
}

.hotel-list-buttons {
  font-size: 14px;
  font-weight: bold;
}

.hotel-button {
  display: inline-block;
  vertical-align: middle;
}

.about {
  background-color: #81b3d2;
  color: #ffffff;
}

.about:hover,
.about:focus {
  background-color: #669ec0;
}

.about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.booking {
  background-color: #766357;
  color: #ffffff;
}

.booking:hover,
.booking:focus {
  background-color: #604e43;
}

.booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #604e43;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
}

.hotel-stars {
  display: flex;
}

.hotel-rating-numbers {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

















